#menu-categories {
    background-color: #f2f2f2;

    .category-item-container {
        padding: 5px;

        .category-item {
            width: inherit;
        }

        .list {
            height: 125px;
            display: flex;
            align-items: center;

            .item {
                border: none!important;
            }

            a {
                text-align: center;
                color: #fff;
            }

            h2 {
                font-size: 1.6em;
                color: #fff;
            }

            &.overlay:before{
                position: absolute;
                content:" ";
                top:0;
                left:0;
                width:100%;
                height:100%;
                display: block;
                z-index:0;
                background-color: rgba(0,0,0,0.4);
            }
        }
    }

}